.productCard {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    width: 20%;
  
    img {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }
  
    h3 {
      font-size: 1.2em;
      margin: 12px 0;
      color: #333;
    }
  
    span {
      font-size: 1em;
      color: #555;
    }
  
    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }
  